<%= link_to "New Project", new_project_path, data: { turbolinks: false } %>
<h1>あなたか参加しているプロジェクト一覧</h1>
<% if @projects.empty? %>
  <p>あなたが参加しているプロジェクトはありません</p>
<% else %>
  <% @projects.each do |project| %>
    <div class="project">
      <h2><%= project.text %></h2>
      <%= link_to project.text, project_path(project), data: { turbolinks: false } %>
    </div>
  <% end %>
<% end %>